/********** Template CSS **********/
:root {
    --primary: #7a6d6d;
    --secondary: #FF4917;
    --light: #EDF1FC;
    --dark: #17224D;
}

.fw-medium {
    font-weight: 600 !important;
}



/*** Header ***/
.header-carousel .container,
.page-header .container {
    position: relative;
    padding: 45px 0 45px 35px;
    border-left: 15px solid #fff;

}

.header-carousel .container::before,
.header-carousel .container::after,
.page-header .container::before,
.page-header .container::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100px;
    height: 15px;
    background: #fff;
}

.header-carousel .container::after,
.page-header .container::after {
    top: 100%;
    margin-top: -15px;
}

@media (max-width: 768px) {
    .header-carousel .owl-carousel-item {
        position: relative;
        min-height: 500px;
    }
    
    .header-carousel .owl-carousel-item img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .header-carousel .owl-carousel-item h5,
    .header-carousel .owl-carousel-item p {
        font-size: 12px !important;
        font-weight: 400 !important;
    }
    .header-carousel .owl-carousel-item h1{
        font-size: 20px !important;
    }


    .header-carousel .owl-carousel-item h1 {
        font-size: 30px;
        font-weight: 600;
    }

}
.header-carousel .owl-carousel-item h5{
    border: 2px solid #fff;
    display: inline-block;
    padding:8px  10px ;
    border-radius:8px;
}
.active_caro{
    background: #aa1712;
}


.header-carousel .owl-nav {
    position: absolute;
    top: 50%;
    right: 8%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
}

.header-carousel .owl-nav .owl-prev,
.header-carousel .owl-nav .owl-next {
    margin: 7px 0;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    background: transparent;
    border: 1px solid #FFFFFF;
    border-radius: 45px;
    font-size: 22px;
    transition: .5s;
}

.header-carousel .owl-nav .owl-prev:hover,
.header-carousel .owl-nav .owl-next:hover {
    background: var(--primary);
    border-color: var(--primary);
}

.page-header {
    background: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)), url(../img/1bg.jpg) center center no-repeat;
    background-size: cover;
}

.breadcrumb-item + .breadcrumb-item::before {
    color: var(--light);
}







/* topone */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}

.top-section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 10px;
    margin: 20px;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-content,
.image-content {
    width: 100%;
    padding: 20px;
}

.toponeimg {
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

p {
    font-size: 16px;
    color: #555;
}

@media (min-width: 768px) {
    .content-wrapper {
        flex-direction: row;
        justify-content: space-between;
    }

    .text-content,
    .image-content {
        width: 50%;
    }

    .text-content {
        padding-right: 40px;
    }
}